body {
    background-color: teal;
    color: white;
    font-size: 17.9px;
}

a {
    color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: center;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;

}
