body {
    background-color: teal;
    color: white;
    font-size: 17.9px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height: 35px;
}

#start_up {
  position: absolute;
  background: url(images/background_startup.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  margin-top: -3px;
  display: none;
}

#c_and_a_logo_startup {
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(50vh - 350px);
}

#c_and_a_logo_startup img {
  width: 100%;
  height: 100%;
}

.template { /* template */
  display: none;
}

/* bar onderkant */

  ul {
    list-style: none;
    padding: 0;
  }
  
  .header{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 96.82vh;
    height: 40px;
    background-color: #D3D3D3;
  }
  .start {
    display: flex;
    background-color: #C5C6CA;
    align-items: center;
    font-size: 25px;
    height: 34px;
    box-sizing: border-box;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    margin-left: 2px;
    cursor: pointer;
  }

  .start img {
    width: 25px;
    height: 25px;
    margin-left: 8px;
  }

  .start b {
    margin-left: 10px;
    margin-right: 8px;
  }

  #start_menu {
    display: flex;
    width: 330px;
    height: 500px;
    position: absolute;
    background-color: #D3D3D3;
    margin-top: -537px;
    margin-left: 2px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
  }

  #nameos_container {
    width: 40px;
    height: 494px;
    background-color: blue;
    margin-left: 5px;
    margin-top: 4px;
    writing-mode: sideways-lr;
    font-size: 38px;
    color: black;
  }

  #name_os {
    margin-bottom: 13px;
  }

  #startmenuappsfolders_container {
    width: 300px;
    height: 494px;
    margin-top: 4px;
  }

  .option_startmenu {
    display: flex;
    height: 70.15px;
    background-color: red;
    align-items: center;
    width: 284.4px;
    margin-left: auto;
  }

  .startmenu_icoontje {
    margin-left: 4px;
  }

  .startmenuoption_text {
    margin-left: 13px;
    font-size: 20px;
  }

  .arrow_startmenu {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left: 16px solid black;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 4px;
  }

  .optionsextratab_container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 285px;
    background-color: burlywood;
    margin-top: -21px; /* + 49 per nieuwe tab */
    margin-left: 270.6px;
    border: 4px solid black;
  }

  .options_extratab {
    display: flex;
    height: 49px;
    background-color: gray;
    align-items: center;
  }

  .optionsextratab_icoontje {
    width: 36px;
    height: 36px;
    background-color: beige;
    margin-left: 9px;
  }

  .optionsextratab_naam {
    margin-left: 12px;
  }

  .arrow_extratab {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left: 16px solid black;
    margin-left: auto;
    margin-right: 5px;
  }

  .programapp {
    width: 297px;
    height: 34px;
    background-color: #C5C6CA;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    box-sizing: border-box;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
  }

  .programapp img {
    width: 25px;
    height: 25px;
    margin-left: 8px;
  }

  .programmaapp_text {
    margin-left: -2px;
    margin-top: -2.5px;
  }

  #test {
    width: 30px;
    height: 30px;
  }

  .nav {
    background-color: red;
    height: 44px;
  }

  #time {
    width: 170px;
    height: 30px;
    background-color: blue;
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 2px;
  }

  #icon_time {
    width: 21.99px;
    height: 23px;
    margin-left: 5px;
  }

  #icon_time img {
    width: 100%;
    height: 100%;
  }

  #time_text {
    margin-left: auto;
    margin-right: 16px;
  }
  
  .nav__list{
    display: flex;
    gap: 7px;
    color: black;
  }

/* app/folder icoontje + app/folder container */

.icoontjes_container {
  display: flex;
  gap: 60px;
  width: 90px;
  margin-left: 29px;
  flex-direction: column;
  margin-top: 3px;
  background-color: red;
}

.icoontje_template {
  background-color: green;
  height: 83.07px;
}

.icoontje_text {
  width: 120px;
  background-color: purple;
  text-align: center;
  margin-left: -30px;
  margin-top: 7px;
}

.icoontje {
  display: flex;
  flex-direction: column;
  width: 59.66px;
  height: 61.23px;
  background-color: green;
}

.icoontje img { /* MOET MOGELIJK WORDEN AANGEPAST!! - Nicolas */
  width: 100%;
  height: 100%;
  background-color: blue;
}

#folderomgeving_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.folder_omgeving {
  position: relative;
  width: 1200px;
  background-color: gray;
  margin-left: 30vw;
  margin-top: 43px;
  padding: 9px;
  padding-bottom: 44px;
}

.folderomgeving_top {
  display: flex;
  align-items: center;
  background-color: red;
  height: 26px;
}

.name_and_icon {
  display: flex;
}

.folderomgeving_options {
  display: flex;
  gap: 3px;
  margin-left: auto;
  margin-right: 4px;
}

.folderomgeving_options img {
  width: 100%;
  height: 100%;
}

.icon_folderomgeving {
  width: 21.28px;
  height: 21.28px;
  margin-left: 4px;
}

.icon_folderomgeving img {
  width: 100%;
  height: 100%;
}

.folder_location {
  margin-left: 6px;
}

.option_box {
  width: 24.77px;
  height: 23px;
  background-color: gray;
}

.folderomgeving_center {
  overflow-x: scroll;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  background-color: green;
  color: black;
}

.folderomgevingcenteroptions_container {
  margin-left: 14px;
  height: 34px;
  display: flex;
  align-items: center;
  background-color: yellow;
  border-bottom: 1px solid black;
  gap: 36px;
}

.folderomgevingcenter_otheroptionscontainer {
  height: 45px;
  display: flex;
  align-items: center;
}

.welkeomgeving_tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 316px;
  height: 35px;
  background-color: gray;
  box-sizing: border-box;
  border: 1px solid black;
}

.welkeomgeving_icoontje {
  width: 31.4px;
  height: 30px;
  background-color: red;
  margin-left: 6px;
}

.welkeomgeving_text {
  background-color: red;
  margin-left: 7.5px;
}

.otheroptions_buttons {
  display: flex;
  height: 35px;
  margin-left: 12.5px;
  gap: 10px;
}

.rowoptions {
  display: flex;
}

.otheroption_button {
  width: 36.4px;
  height: 35px;
  background-color: gray;
}

.otheroption_button img {
  width: 100%;
  height: 100%;
}

.folderomgeving_omgeving {
  background-color: white;
  box-sizing: border-box;
  height: 600px;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.folderprogram_container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 57px;
  margin-top: 6px;
  gap: 68px;
}

.folder-program {
  display: flex;
  flex-direction: column;
  width: 120px;
}

.folderprogram_icon {
  width: 59.66px;
  height: 61.23px;
  background-color: gray;
}

.folderprogram_icon img {
  width: 100%;
  height: 100%;
}

.folderprogram_text {
  text-align: center;
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
  background-color: aqua;
  width: 120px;
  margin-left: -30px;
}