* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  /* hamburger menu */
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  body{
    background-color: teal;
    height: 100vh;
  }
  
  .header{
    background-color: rgb(19, 22, 26);
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0px;
  }
  .nav__item{
    display: flex;
    flex-direction: row;
  }
  .header__content{
    display: flex;
    align-items: center;
    justify-content: space-between; /* to make space between the logo and link */
    padding: 0 30;
    min-height: 35px;
    background-color: grey;
  }
  
  .logo{
    color: #fff;
    font-size: 500;
    letter-spacing: 1.5px;
    font-weight: 500;
  }
  
  .nav{
    transition: all 0.3s ease-in-out; /* makes it so that it comes in and out smoothly  */
  }
  
  .nav__list{
    display: flex;
    gap: 40px;
    margin-right: 20px;
  }
  
  .nav__link, a{
    color: black;
    font-size: 15px;
    transition: all 0.4s;
    padding-left: 20px;
  } 
  .nav__link:hover,
  .nav__link:focus{
    color: rgb(0, 0, 0);
  }
  
  .hamburger{
    display: none;
    cursor: pointer;
  }
  
  .bar{
    height: 2px;
    width: 27px;
    background-color: #000;
    margin: 5px 0px;
    opacity: 0.8;
  }
  
  .nav--open{
    transition: translateX(100%);
  }  
  
  @media (max-width:650px){
    .nav{
        position: fixed;
        top: 60px;
        left: 0px;
        background-color: rgb(19, 22, 26);
        width: 100%;
        transition: all 0.3s ease-in-out;
        opacity: 0;
    }
    .nav__list{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .nav__link{
        font-size: 14px;
    }
  
    .hamburger{
        display: block;
        transition: all 0.3s ease-in-out;
    }
    .hamburger--open .bar:nth-child(1){
        transform: translateY(7px) rotate(45deg);
        transition: all 0.3s ease-in-out;
    }
    .hamburger--open .bar:nth-child(2){
     opacity: 0;
    }
    .hamburger--open .bar:nth-child(3){
        transform: translateY(-7px) rotate(-45deg);
        transition: all 0.3s ease-in-out;
    }
    .nav--open{
        display: flex!important;
        justify-content: space-around   ;
        background-color: grey;
        opacity: 1;
    }
  }